Django==1.6.10
South==1.0.2
psycopg2==2.4.5
django-model-utils==1.5.0
django-timezone-field==1.0
Pillow==2.7.0
django-moderation==0.3.4
phonenumbers==6.0.0a
django-phonenumber-field==0.2a3

sorl-thumbnail==12.1c
# -e git+https://github.com/mariocesar/sorl-thumbnail.git#egg=sorl_thumbnail

ajaxuploader==0.3.1
django-autocomplete-light==1.4.9
PyYAML==3.10
pytz==2013.8
pytils==0.3
django-bootstrap3==2.0.0
django-genericadmin==0.6.1
django-admin-sortable2==0.3.3

django-skd-tools==0.0.8
django-braces==1.2.2
django-extra-cbv==0.1.4
django-user_action_confirmation==0.1.4
django-post-office==0.6.0
django-classy-tags==0.4
django-compressor==1.4

django-storages==1.1.8
Collectfast==0.2.1
s3cmd==1.5.0-alpha3

lxml==3.2.4
BeautifulSoup==3.2.1
boto==2.24.0
django-sphinx==2.2.4

django-robots-txt==0.4
django-su==0.4.2

django-pylibmc==0.5.0
# django-memcached==0.1.2
redis==2.10.3
hiredis==0.1.4
django-redis==3.5.0
django-redis-sessions==0.4.0

# tornado
TornadIO2==0.0.4
tornado==3.2.2
simplejson==3.5.3
tornado-redis==2.4.15
sockjs-tornado==1.0.0
-e git+https://github.com/evilkost/brukva.git#egg=brukva

# cities_light requirements
six==1.7.3
unidecode>=0.04.13
django-autoslug==1.7.2

raven==4.0.4
django-mptt==0.6.0

requests==2.0.1
django-cacheops==2.1.1
django-pickling==0.1 # для более быстрой работы cacheops

model_mommy

celery==3.1.13

django-coverage==1.2.4
coverage==3.7.1
tldextract==1.5
isodate

python-docx==0.8.5
django-subdomains==2.0.4
django-tastypie
defusedxml
django-cors-headers==1.0.0

python-social-auth==0.2.2

querystring-parser==1.2.0

ngram==3.3.0

